# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/
env/

# Database
*.db
*.sqlite
*.sqlite3
*.duckdb

# Environment / secrets
.env

# CSV
.csv

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db